h1{
    width: 100vw;
    background-color: #0d6efd;
    color: white;
    line-height: 70px;
}
div.addContactWrapper {
    position: fixed;
    top: 70px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: -10;
    opacity: 0;

}
div.addContact {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.addContact label {
    width: 80px;
}
.addContactCancel{
    width:100%;
    display: flex;
    justify-content: center;
}
.addContact div{
    margin-top: 7px;
}

 div.addContactWrapper.active {
    opacity:1;
    z-index: 100;
}
.tableWrapper{
    text-align: center;
    position: absolute;
    width: 80vw;
    left: 50%;
    top: 170px;
    transform: translateX(-50%);
}

th{
    width:450px;
}